<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.gitasimplified">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Chp.Chp8"></activity>
        <activity android:name=".Chp.Chp18" />
        <activity android:name=".Chp.Chp17" />
        <activity android:name=".Chp.Chp16" />
        <activity android:name=".Chp.Chp15" />
        <activity android:name=".Chp.Chp14" />
        <activity android:name=".Chp.Chp13" />
        <activity android:name=".Chp.Chp12" />
        <activity android:name=".Chp.Chp11" />
        <activity android:name=".Chp.Chp10" />
        <activity android:name=".Chp.Chp9" />
        <activity android:name=".Chp.Chp7" />
        <activity android:name=".Chp.Chp6" />
        <activity android:name=".Chp.Chp5" />
        <activity android:name=".Chp.Chp4" />
        <activity android:name=".Chp.Chp3" />
        <activity android:name=".Chp.Chp2" />
        <activity android:name=".Main2Activity" />
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>